<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405082630423-ok080sjrbmoha0r1to4arto60pcepgvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405082630423-ok080sjrbmoha0r1to4arto60pcepgvb</string>
	<key>API_KEY</key>
	<string>AIzaSyA5sp9N7JogPb-IpSR4rIXIalRYQhVMnBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405082630423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Splash.SplashDrawMatch</string>
	<key>PROJECT_ID</key>
	<string>drawing-rush</string>
	<key>STORAGE_BUCKET</key>
	<string>drawing-rush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405082630423:ios:cfa586bbee32b8e3ba6f52</string>
</dict>
</plist>